nmm-qt-client*.tar.*
.kdev4
.svn
Makefile
nmm-qt-client.kdev4
nmm-qt-client.pro.user
release/
src/release
src/debug
src/Makefile*
src/nmm-qt-client*
src/ui_*.h
src/object_script.nmm-qt-client*
src/*.qm
