[Desktop Entry]
Name=NetMauMau Qt Client
GenericName=Client for NetMauMau
GenericName[de]=Klient für NetMauMau
Comment=A proof of concept client for NetMauMau
Comment[de]=Machbarkeitsstudienklient für NetMauMau
Exec=nmm-qt-client
Terminal=false
Icon=nmm_qt_client
Type=Application
Version=1.0
Categories=Qt;Game;CardGame;
