[Desktop Entry]
Name=NetMauMau Qt Client
GenericName=Play the popular card game Mau Mau
GenericName[de]=Spiele das populäre Kartenspiel Mau Mau
Comment=A client for the NetMauMau server
Comment[de]=Ein Klient für den NetMauMau Server
Exec=nmm-qt-client
Terminal=false
Icon=nmm_qt_client
Type=Application
Version=1.0
Categories=Qt;Game;CardGame;
Keywords=qt;game;cardgame;
